body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  padding: 30px;
}

.center {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
