<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Docker-Spring Demo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link href="../static/welcome.css" th:href="@{welcome.css}" rel="stylesheet">
</head>

<body>
  <div class="center">
    <h1>Hello Developer!!!</h1>
    Welcome to spring-docker demo <br>
    We are glad to see you here!!!
  </div>
  <div class="center">
    <img src="Docker.png">
  </div>
</body>

</html>
